$colors: (
             default: #FD99BB,
             primary: #7CD2E5,
             secondary: #8AB7AB,
             warning: #FFD98E,
             success: #A9D22C,
             info: #24A4EA,
             danger: #F26A44,
             puse: #FFD5E0,
             alert: #B76BF0,
             matriz: #7386D5,
             light: #F8F8F8,
             white: #FFF,
             bg: #424651,
             facebook: #4264A6,
             twitter: #009EED,
             linkedin: #0079B2,
             googlep: #F83E1D,
             pinterest: #D3242E,
             whatsapp: #29A71A,
             instagram: #517FA4
         );

$theme-colors: $colors;
$enable-shadows: false;
$enable-rounded: false;