$colors: (
             default: #FF699C,
             primary: #523770,
             secondary: #5A7392,
             warning: #FFA100,
             success: #00D977,
             info: #08F,
             danger: #FF386A,
             puse: #E56590,
             alert: #C033BF,
             matriz: #7386D5,
             light: #F8F8F8,
             white: #FFF,
             celeste: #4CCBAB,
             aero: #3E75C8,
             lemon: #BFFF00,
             baby: #FFB88C,
             bg: #424651,
             facebook: #4264A6,
             twitter: #009EED,
             linkedin: #0079B2,
             googlep: #F83E1D,
             pinterest: #D3242E,
             whatsapp: #29A71A,
             instagram: #517FA4
         );

$theme-colors: $colors;
$enable-shadows: false;
$enable-rounded: false;

