//** Spinner **//
@include keyframes('spinner') {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform:     rotate(0deg);
        transform:         rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform:     rotate(360deg);
        transform:         rotate(360deg);
    }
}

//** Wave **//
@include keyframes('wave-front') {
    100% {
        -webkit-transform: translate(-50%, 0);
        transform:         translate(-50%, 0);
    }
}

@include keyframes('wave-back') {
    100% {
        -webkit-transform: translate(50%, 0);
        transform:         translate(50%, 0);
    }
}

@include keyframes('bubble') {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 -280px;
        }
}