//** Header **//
.header {
    background-color: #FFF;
    @include box-shadow(0px 0px 30px rgba(color('matriz'), 0.15));

    .header-top {
        min-height:       60px;
        border-bottom:    1px solid darken(color('default'), 2%);
        background-color: color('default');
        display:          flex;
        align-items:      center;
        justify-content:  center;
        a {
            display: inline-block;
            color:   rgba(#FFF, 0.8);
            padding: 5px 10px;
            @include rem('font-size', 8px);
            i {
                @include rem('font-size', 12px);
            }
            &:hover {
                color: #FFF;
            }
        }
    }

    .header-top a,
    .navbar-nav .nav-link {
        text-transform: uppercase;
        font: {
            family: 'Open Sans', cursive;
            weight: 700;
        }
        @include transition(all .3s ease-in-out);
    }

    .header-content {
        background-color: #FFF;
        display:          flex;
        min-height:       130px;
        align-items:      center;
        position:         relative;
        z-index:          999;
        @include transition(all .2s ease-in-out);
        img {
            @include transition(all .2s ease-in-out);
        }

        //** Navbar **//
        .nav-content {
            position: relative;
        }

        .navbar-brand {
            margin:        0;
            margin-bottom: 15px;
            padding:       0 15px;
        }

        .navbar {
            width: 100%;
            @include transition(all .3s ease-in-out);
        }

        .navbar-nav {
            .nav-link {
                &.active,
                &:active,
                &:focus,
                &:hover {
                    color: color('info') !important;
                }
                &:after {
                    display: none;
                }
                span i {
                    margin-right: 10px;
                }
            }
            .dropdown {
                > a:before {
                    content:  "\f107";
                    font:     normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    top:      50%;
                    right:    -15px;
                    @include transform(translate(0, -50%));
                }

                ul {
                    position:           absolute;
                    top:                100%;
                    left:               0;
                    padding:            15px 0;
                    list-style:         none;
                    min-width:          200px;
                    text-align:         left;
                    visibility:         hidden;
                    opacity:            0;
                    margin-top:         50px;
                    -webkit-transition: all .2s ease;
                    transition:         all .2s ease;
                    background-color:   #FFF;
                    @include box-shadow(0px 0px 30px rgba(color('matriz'), 0.15));
                    li {
                        position:      relative;
                        margin:        0 !important;
                        padding-left:  1.5rem;
                        padding-right: 1.5rem;
                        a {
                            height:      40px;
                            line-height: 40px;
                            color:       lighten(color('bg'), 30%) !important;
                            &:before {
                                right: 15px;
                            }
                        }
                    }
                    & > li ul {
                        left:       100%;
                        top:        0;
                        margin-top: 10px;
                    }
                }

                &.last-elements ul {
                    left:  auto;
                    right: 0;
                }
                &.last-elements ul > li.dropdown ul {
                    left:         auto;
                    right:        100%;
                    margin-left:  0;
                    margin-right: 10px;
                }

                &:hover > ul {
                    visibility: visible;
                    opacity:    1;
                    margin-top: 0;
                }

                &:hover > ul > li:hover > ul {
                    visibility:   visible;
                    opacity:      1;
                    margin-top:   -1px;
                    margin-right: 0;
                }
            }
        }
    }

    &.fixed {
        height: 170px;
        .header-content {
            position:   fixed;
            width:      100%;
            top:        0;
            min-height: 85px;
            @extend .header;
            img {
                height: 40px;
            }
        }
    }

}