$h: 720px;

.login-page {
    position: fixed;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    &:before,
    &:after {
        content:  '';
        position: fixed;
        top:      0;
        left:     0;
        bottom:   0;
        right:    0;
    }
    &:before {
        background: {
            //image:  url('../images/bg/patterns/02.png');
            //repeat: repeat;
            //size:   50%;
            color: rgba(color('bg'), .3);
        }
        z-index: 1;
    }
    &:after {
        background: {
            image:  url('../images/baby/blur/08.jpg');
            size:   cover;
            position: center center;
        }
        //@include background-horizontal(rgba(color('alert'), .8), rgba(color('default'), .8));
    }

    .login-box {
        position:   absolute;
        top:        50%;
        left:       50%;
        z-index:    10;
        min-width:  1100px;
        min-height: $h;
        overflow:   hidden;
        background: {
            color: #FFF;
        }
        @include box-shadow(0 0 30px rgba(#000, .15));
        @include transform(translate(-50%, -50%));
        @include border-radius(10px);
        &:before {
            content:          '';
            background-color: rgba(255, 255, 255, 0.8);
            position:         fixed;
            top:              0;
            bottom:           0;
            left:             0;
            right:            0;
        }
    }

    .content{

    }

    .left-content {
        height: 100%;
        background: {
            image:    url("../images/baby/08.jpg");
            size:     cover;
            position: center center;
        }
        .back {
            position:       absolute;
            top:            30px;
            left:           50px;
            text-transform: uppercase;
            font-weight:    700;
            color:          #FFF;
            @include rem('font-size', 8px);
        }
    }

    .description-content {
        min-height: $h;
        padding:    0 60px;
        margin:     0 auto;

        .logo {
            max-width:     60%;
            margin:        0 auto;
            margin-bottom: 20px;
        }

        span {
            text-transform: uppercase;
            font-weight:    700;
            color:          #B9BFC8;
            @include rem('font-size', 8px);
        }
        h2 {
            margin: {
                top:    10px;
                bottom: 10px;
            }
            font-weight:    100;
            text-transform: uppercase;
            color:          #3C3C3C;
            @include rem('font-size', 20px);
            b {
                font-weight: 700;
            }
        }
        p {
            text-transform: uppercase;
            font-weight:    400;
            color:          #B9BFC8;
            margin-bottom:  30px;
            @include rem('font-size', 9px);
        }
        .btn {
            padding: 15px 8px;
            @include rem('font-size', 9px);
        }

        .or {
            position:   relative;
            display:    block;
            margin:     30px 0;
            text-align: center;
            @extend span;
            span {
                position: relative;
                z-index:  10;
                padding:  0 10px;
            }
        }
    }

    a:not(.btn) {
        @extend span;
    }
}
