///******************************* MEDIA *******************************///

//** Max Width **//
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

//** Min Width **//
@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}

@media (min-width: 576px) {

}
///******************************* MEDIA *******************************///




///******************************* MAX WIDTH *******************************///

@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }

    .modal-login .modal-dialog {
        min-width: 95%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 85%;
    }

    .modal-login {
        [class^=col] {
            max-width: 100%;
            flex:      0 0 100%;
            &:first-child {
                display: none;
            }
        }
        .left-content .description-content {
            min-height: auto;
            padding:    60px;
        }
    }

    .header {
        .header-content {

            .mobile {
                display: flex;
            }

        }
    }

    .timeline {
        margin-bottom: 20px;
        .group {
            padding: 0;
            &:before {
                display: none !important;
            }
            .box-time {
                display: none;
            }
        }
    }

}

@media (max-width: 768px) {
    .timeline {
        .group {
            display: block;
            margin:  0 0;
            .item {
                flex:   0 0 100% !important;
                margin: 110px 0;
            }
        }
    }
}

@media (max-width: 576px) {
}

///******************************* MIN WIDTH *******************************///

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

    //** Header **//
    .header {

        //** Navbar **//
        .navbar {
            padding: 0;
        }

        .navbar-nav li {
            margin: {
                left:  1rem !important;
                right: 1rem !important;
            }
        }

        .navbar-nav .nav-link {
            padding: {
                top:    0;
                bottom: 0;
                left:   0 !important;
                right:  0 !important;
            }
            @include rem(font-size, 9px);
        }
    }

}

@media (min-width: 768px) {

    .timeline .group .item {
        &:nth-child(even) {
            .box {
                top:    100%;
                bottom: auto;
                &:before {
                    top:    0;
                    bottom: auto;
                }
            }
        }
    }

}

@media (min-width: 576px) {

}