.newsletter {
    padding:          10px;
    background-color: color('alert');
    color:            #FFF;
    .newsletter-content {
        border:     3px dashed #EEE;
        min-height: 180px;
        padding:    0 60px;
    }
}