img.no-image {
    text-indent: -10000px;
    background: {
        image:    url('../images/loader.gif');
        color:    #FFF;
        position: center center;
        repeat:   no-repeat;
        size:     auto;
    }
}

.box-image {
    height:     100%;
    box-sizing: border-box;
    overflow:   hidden;
    position:   relative;
    img {
        width:  100%;
        height: 100%;
        @include css3-prefix('object-position', center);
        @include css3-prefix('object-fit', cover);
        @include transition(all .3s ease-in-out);
    }
}

.posts {

    $spc: 15px;

    &.row {
        margin-left:  -$spc;
        margin-right: -$spc;
    }

    [class*="col-"] {
        padding: $spc;
    }

    article {
        .post {
            overflow: hidden;
            position: relative;
            @extend .box-shadow;
        }

        .box-image,
        .content {
            width: 100%;
            float: left;
        }

        .box-image {
            height: 250px;
        }

        .content {
            padding:         20px;
            min-height:      240px;
            display:         flex;
            flex-direction:  column;
            justify-content: center;

            h3 {
                font-family:    'Poppins', cursive;
                color:          lighten(color('bg'), 30%);
                text-transform: uppercase;
                overflow:       hidden;
                white-space:    nowrap;
                text-overflow:  ellipsis;
                font-weight:    700;
                @include rem('font-size', 11px);
                a {
                    color:           lighten(color('bg'), 10%);
                    text-decoration: none;
                }
            }

            p {
                font-family: 'Open Sans', cursive;
                color:       darken(color('light'), 30%);
                overflow:    hidden;
                @include rem(font-size, 10px);
            }

            .meta {
                text-transform: uppercase;
                margin-bottom:  5px;
                span {
                    padding-right: 10px;
                    color:         color('bg');
                    @include rem('font-size', 9px);
                }
                .date {
                    color: rgba(color('bg'), 0.5);
                }
            }
        }

        .social {

            $social: (facebook: color('facebook'), twitter: color('twitter'), whatsapp: color('whatsapp'), googlep: color('googlep'), pinterest: color('pinterest'));

            position: absolute;
            top:      10px;
            left:     10px;
            opacity:  0;
            display:  none;
            @include transition(all .3s ease-in-out);

            li {
                display: inline-block;
                padding: 2px;
                a {
                    width:           40px;
                    height:          40px;
                    display:         flex;
                    align-items:     center;
                    justify-content: center;
                    border-radius:   50%;
                    border:          1px solid darken(color('light'), 5%);
                    color:           #FFF;
                    text-decoration: none;
                    @include transition(all .1s ease-in-out);

                    @each $name, $color in $social {
                        &.#{$name} {
                            background-color: $color;
                            border-color:     darken($color, 5%);
                            &:hover {
                                background-color: darken($color, 5%);
                            }
                        }
                    }
                }
            }
        }

        &:hover {
            .box-image {
                img {
                    @include transform(scale(1.1));
                }

                &:before {
                    opacity: 0;
                }
            }
        }
    }
}

.post-categories {
    display:   flex;
    flex-wrap: wrap;
    padding:   0;
    li {
        display:      inline-block;
        margin-right: 5px;
        a {
            background-color: rgba(color('bg'), 0.7);
            color:            #FFF;
            padding:          4px 8px;
            font-weight:      700;
            text-transform:   uppercase;
            text-decoration:  none;
            @include rem('font-size', 8px);
            @include border-radius(3px);
            @include transition(all .1s ease-in-out);
            &:hover {
                background-color: color('info');
            }
        }
    }
}

.post-tags {
    span {
        @include rem('font-size', 8px);
        display: inline-block;
        margin: {
            bottom: 10px;
            right:  5px;
        }
        a {
            color:           color('bg');
            display:         inline-block;
            font-weight:     700;
            text-transform:  uppercase;
            text-decoration: none !important;
            border:          1px solid lighten(color('bg'), 30%);
            padding:         7px 10px;
            @include transition(all .3s ease-in-out);
            &:hover {
                color:            #FFF;
                background-color: color('default');
                border-color:     color('default');
            }
        }
    }
}

///******************************* MEDIA *******************************///

//** Max Width **//
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .posts {

        &[data-posts="grid"] {
            display:      flex;
            flex-wrap:    wrap;
            margin-right: -15px;
            margin-left:  -15px;
            article {
                flex:      0 0 50%;
                max-width: 50%;
                padding:   10px;
            }
        }

        &[data-posts="category"] {
            display: none;
        }

        article {
            .box-image {
                height: 220px;

            }
            .content {
                min-height: 200px;
            }
        }
    }
}

@media (max-width: 768px) {
    .posts {
        &[data-posts="grid"] {
            article {
                flex:      0 0 100%;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {

}

//** Min Width **//
@media (min-width: 1200px) {

}

@media (min-width: 992px) {
    .posts {
        &[data-posts="grid"] {

            $h: 450px;
            $p: 10px;
            $color: #FFF;
            $cc: color('info'), color('danger'), color('warning'), color('success'), color('default');

            display:  inline-block;
            width:    100%;
            position: relative;

            article {
                float:          left;
                width:          calc(100% / 4);
                height:         $h / 2 + $p;
                position:       relative;
                text-transform: uppercase;
                padding:        $p / 2;

                &:nth-child(3) {
                    width: calc(100% / 2);
                    .box-image {
                        height: $h + $p;
                    }
                    h4 {
                        @include rem('font-size', 14px);
                    }
                }

                &:nth-child(2),
                &:nth-child(4) {
                    float: right;
                }

                a {
                    color: $color !important;
                }

                .post {
                    border: none;
                }
            }

            .content {
                position:    absolute;
                left:        0;
                right:       0;
                bottom:      0;
                background:  linear-gradient(to top, rgba(color('bg'), 0.5), transparent);
                padding:     20px;
                padding-top: 30px;
                min-height:  auto;
                h3 {
                    font-weight: 600;
                    color:       $color;
                    @include rem('font-size', 10px);
                }
                p {
                    display: none;
                }

                .meta {
                    span {
                        color: rgba($color, 0.8) !important;
                    }
                }
            }

            .box-image {
                height: $h / 2;
                img[data-src] {
                    position: relative !important;
                    z-index:  11;
                }
            }
        }

        &[data-posts="main"] {
            article {
                &:nth-child(1) {
                    padding-top: 0;
                    .post {
                        height: 300px;
                    }
                    .box-image {
                        width:  48%;
                        height: 100%;
                    }
                    .content {
                        width: 45%;
                    }
                }

                $h7: 400px;

                &:nth-child(7) {
                    .post {
                        height: $h7;
                    }

                    .box-image {
                        height: 100%;
                        img[data-src] {
                            position: relative !important;
                            z-index:  11;
                        }
                    }

                    .content {
                        position:   absolute;
                        z-index:    10;
                        bottom:     0;
                        left:       0;
                        right:      0;
                        color:      #FFF;
                        background: linear-gradient(to top, rgba(#000, 0.5), transparent);

                        h3 {
                            @include rem(font-size, 20px);
                        }
                        .meta span, a, h3, p {
                            color: #FFF;
                        }
                    }
                }

                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10),
                &:nth-child(11),
                &:nth-child(12) {
                    .box-image {
                        height: $h7 / 2 - 2px;
                    }

                    .content {
                        min-height: $h7 / 2;
                    }

                    h3 {
                        @include rem(font-size, 9px);
                    }
                }
            }
        }

        &[data-posts="category"] {
            article {
                &:not(:nth-child(1)) {
                    $h: 90px;
                    .post {
                        height: $h;
                    }
                    .post-categories,
                    .post-tags {
                        display: none;
                    }
                    .content {
                        padding-left: $h + 10px;
                        min-height:   auto;
                    }
                    .box-image {
                        width:    $h;
                        height:   $h;
                        position: absolute;
                        top:      0;
                        left:     0;
                    }
                    h3 {
                        @include rem(font-size, 9px);
                    }
                    p, .btn {
                        display: none;
                    }
                    &:before {
                        display: none;
                    }
                }
            }
        }

        &[data-posts="list"] {
            article {
                .box-image {
                    margin:       0;
                    margin-right: 15px;
                    width:        100px;
                    height:       100px;
                    float:        left;
                    @include border-radius(50%);
                }
                .post {
                    padding:       30px;
                    margin-bottom: 30px;
                }
                .content {
                    width:      calc(100% - 115px);
                    float:      left;
                    display:    block;
                    min-height: auto;
                    padding: {
                        top:    0;
                        bottom: 0;
                    }
                }
                .meta {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {

}

///******************************* MEDIA *******************************///
