img.no-image {
    background-image:    url('../images/no-photo.png');
    background-position: center center;
    background-repeat:   no-repeat;
    background-size:     contain;
    text-indent:         -10000px;
}

.top-posts,
.posts {
    .meta {
        text-transform: uppercase;
        margin-bottom:  5px;
        span {
            padding-right: 10px;
            color:         color('bg');
            @include rem('font-size', 9px);
        }
        .date {
            color: rgba(color('bg'), 0.5);
        }
    }
    h3 {
        font-family:    'Poppins', cursive;
        color:          lighten(color('bg'), 30%);
        text-transform: uppercase;
        overflow:       hidden;
        white-space:    nowrap;
        text-overflow:  ellipsis;
        font-weight:    700;
        @include rem('font-size', 11px);
        a {
            color:           lighten(color('bg'), 10%);
            text-decoration: none;
        }
    }
}

//** Top posts **//
.top-posts {
    padding:          25px 0;
    background-color: rgba(#FBFBFB, 0.5);
    border-bottom:    1px solid #F5F5F5;
    border-top:       1px solid #F5F5F5;
    .figure {
        width:  85px;
        height: 85px;
        float:  left;
        @include border-radius(50%);
    }
    .details {
        width:   calc(100% - 85px);
        float:   left;
        padding: 10px;
    }
    h3 {
        overflow:      visible;
        white-space:   normal;
        text-overflow: initial;
        @include rem('font-size', 9px);
    }
}

//** Grid posts **//
.grid-posts {
    $h: 400px;
    $p: 4px;
    $cc: color('info'), color('danger'), color('warning'), color('success'), color('default');

    display:  inline-block;
    width:    100%;
    position: relative;
    margin: {
        left:   -$p / 2;
        right:  -$p / 2;
        top:    -$p / 2;
        bottom: -$p / 2;
    }

    article {
        float:          left;
        width:          calc(100% / 4);
        height:         $h / 2 + $p;
        position:       relative;
        text-transform: uppercase;
        padding:        $p / 2;

        .content {
            position: relative;
        }

        .box-image {
            height: $h / 2;
        }

        .caption {
            position:    absolute;
            bottom:      0;
            left:        0;
            right:       0;
            padding:     20px;
            padding-top: 30px;
            z-index:     2;
        }

        h3 {
            font-family: 'Poppins', cursive;
            font-weight: 700;
            @include rem('font-size', 10px);
            @include rem('line-height', 1.5);
        }

        a {
            color:           #FFF !important;
            text-decoration: none;
        }

        .meta {
            margin-bottom: 5px;
            span {
                padding-right: 10px;
                color:         #FFF;
                @include rem('font-size', 9px);
            }
            .date {
                color: rgba(#fff, 0.5);
            }
        }

        &:not(:nth-child(3)) {
            p {
                display: none;
            }
        }

        &:nth-child(3) {
            width: calc(100% / 2);
            .box-image {
                height: $h + $p;
            }
            h4 {
                @include rem('font-size', 14px);
            }
        }

        &:nth-child(2),
        &:nth-child(4) {
            float: right;
        }
    }
}

//** Posts **//
.posts {

    $spc: 10px;

    &.row {
        margin-left:  -$spc;
        margin-right: -$spc;
    }

    [class*="col-"] {
        padding: $spc;
    }

    .post {
        overflow:         hidden;
        position:         relative;
        background-color: #FFF;
        border:           1px solid darken(color('light'), 1%);
        //box-shadow:       0 5px 10px 0px #EEE;
    }

    .content {
        padding: 20px;
    }

    .box-image,
    .content {
        width: 100%;
        float: left;
    }

    article {
        .post {
            height: auto;
        }

        .box-image {
            height: 250px;
        }

        p {
            font-family: 'Open Sans', cursive;
            color:       darken(color('light'), 30%);
            overflow:    hidden;
            @include rem(font-size, 10px);
        }

        .btn {
            text-transform: uppercase;
            padding:        11px 23px;
            font: {
                weight: 700;
            }
            @include rem('font-size', 8px);
        }

        .social {

            $social: (facebook: color('facebook'), twitter: color('twitter'), whatsapp: color('whatsapp'), googlep: color('googlep'), pinterest: color('pinterest'));

            position: absolute;
            bottom:   -60px;
            left:     10px;
            opacity:  0;
            display:  none;
            @include transition(all .3s ease-in-out);

            li {
                display: inline-block;
                padding: 2px;
                a {
                    width:           40px;
                    height:          40px;
                    display:         flex;
                    align-items:     center;
                    justify-content: center;
                    border-radius:   50%;
                    border:          1px solid darken(color('light'), 5%);
                    color:           #FFF;
                    text-decoration: none;
                    @include transition(all .1s ease-in-out);

                    @each $name, $color in $social {
                        &.#{$name} {
                            background-color: $color;
                            border-color:     darken($color, 5%);
                            &:hover {
                                background-color: darken($color, 5%);
                            }
                        }
                    }
                }
            }
        }

        &:hover {
            .social {
                bottom:  10px;
                opacity: 1;
            }
        }
    }

    .ads.mid {
        width: 100%;
    }

}

.grid-posts article:hover,
.posts article:hover {
    .box-image {
        img {
            @include transform(scale(1.1));
        }

        &:before {
            opacity: 0;
        }
    }
}

.post-categories {
    span {
        @include rem(font-size, 9px);
        display: inline-block;
        margin: {
            bottom: 10px;
            right:  5px;
        }

        a {
            color:           lighten(color('bg'), 10%);
            display:         inline-block;
            font-weight:     700;
            text-transform:  uppercase;
            text-decoration: none !important;
            &:after {
                content:          '';
                width:            100%;
                height:           5px;
                margin-top:       -6px;
                display:          block;
                background-color: color('default');
            }
        }
    }
}

.post-tags {
    span {
        @include rem('font-size', 8px);
        display: inline-block;
        margin: {
            bottom: 10px;
            right:  5px;
        }
        a {
            color:           color('bg');
            display:         inline-block;
            font-weight:     700;
            text-transform:  uppercase;
            text-decoration: none !important;
            border:          1px solid lighten(color('bg'), 30%);
            padding:         7px 10px;
            @include transition(all .3s ease-in-out);
            &:hover {
                color:            #FFF;
                background-color: color('default');
                border-color:     color('default');
            }
        }
    }
}

.post-nav {
    $margin: 35px;
    position: relative;
    margin:   30px 0;
    display:  inline-block;
    width:    100%;
    .item {
        width:           40%;
        display:         inline-block;
        margin-left:     $margin;
        text-decoration: none;
        color:           color('bg');
        span {
            background-color: lighten(color('bg'), 65%);
            padding:          0 12px;
            height:           $margin;
            line-height:      $margin;
            display:          block;
            text-transform:   uppercase;
            @include rem('font-size', 10px);
        }

        p {
            padding:    15px;
            margin:     0;
            border:     1px solid #EEE;
            border-top: 0;
            @include rem('font-size', 10px);
        }

        &:before {
            font:        normal normal normal 14px/1 FontAwesome;
            content:     "\f104";
            text-align:  center;
            width:       $margin;
            height:      $margin;
            line-height: $margin - 2;
            border:      1px solid #EEE;
            display:     inline-block;
            position:    absolute;
            left:        0;
            top:         0;
        }

        &:last-child {
            margin-left:  0;
            margin-right: $margin;
            &:before {
                content: "\f105";
                left:    auto;
                right:   0;
            }
        }

        &:hover {
            p {
                color: color('info');
            }
        }
    }
}

.box-image {
    height:     100%;
    box-sizing: border-box;
    overflow:   hidden;
    position:   relative;
    img {
        width:  100%;
        height: 100%;
        @include css3-prefix('object-position', center);
        @include css3-prefix('object-fit', cover);
        @include transition(all .3s ease-in-out);
    }
}


