$social: (facebook: color('facebook'), twitter: color('twitter'), linkedin: color('linkedin'), googlep: color('googlep'), pinterest: color('pinterest'));

//** Widget **//
.widget {
    margin-bottom:    30px;
    padding:          30px;
    background-color: #FFF;
    @include box-shadow(0 0 32px -9px rgba(0, 0, 0, .1));
    .ads {
        width: 100%;
    }

    .social {
        margin: 0;
        li {
            display: inline-block;
            padding: 2px;
            a {
                width:           40px;
                height:          40px;
                display:         flex;
                align-items:     center;
                justify-content: center;
                color:           color('bg');
                text-decoration: none;
                @include transition(all .1s ease-in-out);

                @each $name, $color in $social {
                    &.#{$name} {
                        color:            #FFF;
                        background-color: $color;
                        &:hover {
                            background-color: darken($color, 5%);
                        }
                    }
                }
            }
        }
    }

    .categories {
        font-family:   'Poppins', cursive;
        margin-bottom: 0;
        li {
            a {
                color:           color('bg');
                display:         block;
                padding:         15px 2px;
                border-bottom:   1px solid rgba(#000, .04);
                text-decoration: none;
                @include rem('font-size', 10px);
                @include transition(all .2s ease-in-out);
                span {
                    float:      right;
                    font-style: italic;
                }
            }
            &:hover a {
                padding-left: 10px;
            }
        }
    }

    .posts-list {
        margin: 0;
        li {
            display:       inline-block;
            width:         100%;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        figure {
            margin:       0;
            margin-right: 15px;
            width:        70px;
            height:       70px;
            float:        left;
            @include border-radius(50%);
        }
        h3 {
            font-family:    'Poppins', cursive;
            margin: {
                top:    8px;
                bottom: 0;
            }
            text-transform: uppercase;
            font-weight:    700;
            @include rem(line-height, 12px);
            @include rem(font-size, 9px);
            a {
                color:           lighten(color('bg'), 20%);
                text-decoration: none;
                @include transition(all .3s ease-in-out);
                &:hover {
                    color: color('bg');
                }
            }
        }
        span {
            text-transform: uppercase;
            color:          lighten(color('bg'), 35%);
            @include rem(font-size, 8px);
        }
    }
}