<div class="container d-none d-lg-block">
    <ul class="social-footer list-inline">
        <li class="facebook">
            <a href="">
                <i class="fa fa-facebook"></i>
                <h3>Facebook</h3>
                <span>Siga-nos no Facebook</span>
            </a>
        </li>
        <li class="twitter">
            <a href="">
                <i class="fa fa-twitter"></i>
                <h3>Twitter</h3>
                <span>Siga-nos no Twitter</span>
            </a>
        </li>
        <li class="googlep">
            <a href="">
                <i class="fa fa-google-plus"></i>
                <h3>Google+</h3>
                <span>Siga-nos no Google</span>
            </a>
        </li>
        <li class="instagram">
            <a href="">
                <i class="fa fa-instagram"></i>
                <h3>Instagram</h3>
                <span>Siga-nos no Instagram</span>
            </a>
        </li>
        <li class="pinterest">
            <a href="">
                <i class="fa fa-pinterest"></i>
                <h3>Pinterest</h3>
                <span>Siga-nos no Pinterest</span>
            </a>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item"><a class="nav-item nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-item nav-link" href="#">Revista Online</a></li>
                            <li class="nav-item"><a class="nav-item nav-link" href="#">Concurso</a></li>
                            <li class="nav-item"><a class="nav-item nav-link" href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <img src="../../../src/images/logo-w.png" height="50">
    <div class="copyright">
        <div class="container">
            <span>© 2017 - Revista Mamãe Bebê - Todos os direitos reservados</span>
        </div>
    </div>
</footer>
