<!-- @@master  = includes.html-->

<!-- @@block  =  content_master-->
<nav class="sidebar-menu">
    <div class="sidebar-header">
        <img src="../../../build/images/logo.png" width="100%">
    </div>
    <div class="content">
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
                <a href="#4" data-toggle="collapse" class="" aria-expanded="true">Portfolio</a>
                <ul class="list-unstyled sub-nav collapse in" id="4" aria-expanded="true" style="">
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#5" data-toggle="collapse" class="" aria-expanded="true">Portfolio</a>
                <ul class="list-unstyled sub-nav collapse in" id="5" aria-expanded="true" style="">
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#6" data-toggle="collapse" class="" aria-expanded="true">Portfolio</a>
                <ul class="list-unstyled sub-nav collapse in" id="6" aria-expanded="true" style="">
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                    <li><a href="?page=tables/basic">Basic tables</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="main-content">

    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="pull-left">
                    <div class="nav-search">
                        <form class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="account pull-right">
                    <ul class="nav justify-content-end pull-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadastre-se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    <div class="d-none">
                    <!-- @@include  = account_menu.html-->
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content">
            <div id="app" class="container">
                <div class="mobile">
                    <a href="" class="logo">
                        <img src="../../../build/images/logo.png" height="50">
                    </a>
                    <a href="#" class="nav sidebar-collapse">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light" id="nav-top">
                    <div id="navbarNavDropdown" class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Minha conta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                        </ul>
                        <a class="navbar-brand" href="#">
                            <div class="logo">
                                <div class="container">
                                    <img src="../../../build/images/logo.png" height="50">
                                </div>
                            </div>
                        </a>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#">Contato</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#">Contato</a>
                                        <ul>
                                            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Revista Online</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Concurso</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Concurso</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Concurso</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#">Concurso</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#">Concurso</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('/register') }}">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="top-posts d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="item">
                        <div class="box-image figure">
                            <img src="http://mamaebebe.l.com/storage/images/2018/04/teste-da-linguinha.png" class="no-image">
                        </div>
                        <div class="details">
                            <h3><a href="http://mamaebebe.l.com/irritacao-e-bolhas-na-pele-do-bebe">Irritação e bolhas
                                na pele do bebê</a></h3>
                            <div class="meta">
                                <span class="date"><i class="fa fa-clock-o"></i> 18 de junho de 2018</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="item">
                        <div class="box-image figure">
                            <img src="http://mamaebebe.l.com/storage/images/2018/04/teste-da-linguinha.png" class="no-image">
                        </div>
                        <div class="details">
                            <h3><a href="http://mamaebebe.l.com/irritacao-e-bolhas-na-pele-do-bebe">Irritação e bolhas
                                na pele do bebê</a></h3>
                            <div class="meta">
                                <span class="date"><i class="fa fa-clock-o"></i> 18 de junho de 2018</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="item">
                        <div class="box-image figure">
                            <img src="http://mamaebebe.l.com/storage/images/2018/04/teste-da-linguinha.png" class="no-image">
                        </div>
                        <div class="details">
                            <h3><a href="http://mamaebebe.l.com/irritacao-e-bolhas-na-pele-do-bebe">Irritação e bolhas
                                na pele do bebê</a></h3>
                            <div class="meta">
                                <span class="date"><i class="fa fa-clock-o"></i> 18 de junho de 2018</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <!-- @@placeholder= content -->
    </div>

</div>

<!-- @@include  = footer.html-->

<div class="modal fade modal-login" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="right-content"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="left-content" data-tab="">
                            <div class="register-content item-content">
                                <div class="description-content d-flex flex-column justify-content-center">
                                    <span>Cadastre-se</span>
                                    <h2>Torne-se um membro</h2>
                                    <p>Informe seus dados abaixo</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="name" placeholder="Nome" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="email" placeholder="E-mail" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="senha" placeholder="Senha">
                                        </div>
                                        <button type="submit" class="btn btn-info btn-block">Cadastre-se</button>
                                    </form>
                                    <div class="or"><span>Ou inscreva-se usando</span></div>

                                    <div class="social-btn d-flex" role="group">
                                        <button type="submit" class="btn btn-facebook w-100 mr-2">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </button>
                                        <button type="submit" class="btn btn-twitter w-100 mr-2">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </button>
                                        <button type="submit" class="btn btn-googlep w-100">
                                            <i class="fa fa-google-plus"></i> Google +
                                        </button>
                                    </div>
                                </div>
                                <footer>
                                    <p>
                                        <a href="#" class="pull-right modal-login-tab" data-tab="login">Já tenho minha
                                            conta</a>
                                    </p>
                                </footer>
                            </div>

                            <div class="login-content item-content">
                                <div class="description-content d-flex flex-column justify-content-center">
                                    <span>Login</span>
                                    <h2>Bem vindo de volta</h2>
                                    <p>Informe seus dados abaixo</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="email" placeholder="E-mail" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" id="senha" placeholder="Senha">
                                        </div>
                                        <div class="mb-3 text-right">
                                            <a href="#">Esqueci minha senha</a>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-block">Login</button>
                                    </form>
                                    <div class="or"><span>Ou faça o login usando</span></div>

                                    <div class="social-btn d-flex" role="group">
                                        <button type="submit" class="btn btn-facebook w-100 mr-2">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </button>
                                        <button type="submit" class="btn btn-twitter w-100 mr-2">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </button>
                                        <button type="submit" class="btn btn-googlep w-100">
                                            <i class="fa fa-google-plus"></i> Google +
                                        </button>
                                    </div>
                                </div>
                                <footer>
                                    <p>
                                        <a href="#" class="pull-right modal-login-tab" data-tab="register">Ainda não
                                            tenho minha conta</a>
                                    </p>
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close-->