<!-- @@master  = includes.html-->

<!-- @@block  =  content_master-->
<div class="main-content">

    <header class="header" data-header="simple">
        <div class="header-content">
            <div class="container">
                <a href="" class="logo pull-left">
                    <img src="../../../build/images/logo.png">
                </a>
                <div class="content">
                    <div class="account ml-auto">
                        <!-- @@include  = account_menu.html-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-content">
        <!-- @@placeholder= content -->
    </div>

</div>

<!-- @@include  = footer.html-->

<!-- @@close-->