//** Google fonts **//
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat|Caveat+Brush|Caveat:400,700|Fredoka+One|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* font-family: 'Fredoka One', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Caveat', cursive;
font-family: 'Open Sans', sans-serif;
 font-family: 'Montserrat', sans-serif;*/