html {
    font-size: 100%;
}

body {
    background: {
        color:  #FBFBFB;
        //image:  url('../images/bg/03.png');
        repeat: repeat;
    }
}

.page-content {
    min-height: 500px;
    position:   relative;
}

.title {
    padding-bottom: 10px;
    margin-bottom:  10px;
    font-family:    'Poppins', cursive;
    color:          color('bg');
    text-transform: uppercase;
    position:       relative;
    display:        block;
    @include rem(font-size, 12px);
    span {
        color: color('info');
    }
    &:before,
    &:after {
        content:          '';
        position:         absolute;
        left:             0;
        right:            0;
        bottom:           0;
        height:           5px;
        background-color: color('light');
    }

    &:after {
        width:            30%;
        background-color: color('info');
    }
}

.overlay {
    background: rgba(#000, 0.3);
    position:   fixed;
    top:        0;
    left:       0;
    bottom:     0;
    right:      0;
    display:    none;
    z-index:    9998;
}

.loader-content {
    position:         fixed;
    background-color: #FFF;
    z-index:          1000;
    top:              0;
    left:             0;
    bottom:           0;
    right:            0;
}

$loader: 50px;
.loader {
    content:          '';
    width:            $loader;
    height:           $loader;
    position:         absolute;
    top:              50%;
    left:             50%;
    margin: {
        left: -$loader / 2;
        top:  -$loader / 2;
    }
    border:           2px solid #DDD;
    border-top-color: color('info');
    @include animation(spinner 700ms infinite linear);
    @include border-radius(50%);
}

.box-shadow{
    background-color: #FFF;
    @include box-shadow(0 0 32px -9px rgba(0, 0, 0, .1));
}

::selection {
    background-color: rgba(color('default'), 1);
    color:            #FFF;
}


//** Plugins **//
@import "libs/bootstrap/theme";
@import "libs/owl.carousel";

//** Theme **//
@import "partials/fonts";
@import "partials/animations";
@import "partials/header";
@import "partials/sidebar";
@import "partials/posts";
@import "partials/widgets";
@import "partials/footer";
@import "partials/ads";
@import "partials/newsletter";
@import "partials/social";
@import "partials/pages";
@import "partials/timeline";
@import "partials/magazine";
@import "partials/contact";
@import "partials/login";
@import "partials/price";
@import "partials/payment";
@import "partials/account";
@import "partials/search";
@import "partials/medias";